.home_wrapper {
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  min-height: 100%;
  width: auto;
  max-width: 500px;
  color: white;
  font-size: 1.1rem;
  line-height: 1.5;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  animation: slideDown 0.8s;
}

@keyframes slideDown {
  from {
    transform: translateY(-300%);
  }
  to {
    transform: translateY(0);
  }
}

.home_create {
  display: block;
  color: white;
  text-decoration: none;
  background-color: var(--primary);
  padding: 0.75rem;
  border-radius: 4px;
  margin: 1rem 0.5rem 3rem 0.5rem;
  font-weight: 800;
  transition: transform 0.2s;
}

.home_create:hover {
  transform: scale(1.1);
  background-color: var(--primary);
}

.home_login,
.home_logout {
  margin: 0 auto;
  font-size: 1.6rem;
  border-radius: 2rem;
  height: 40px;
  width: 200px;
  color: white;
  font-weight: bold;
  background: none;
  cursor: pointer;
  border: 1px solid var(--primary);
  transition: all 0.2s ease-in-out;
}

.home_login:hover,
.home_logout:hover {
  transform: scale(1.2);
  background: rgba(0, 0, 0, 0.25);
}

.home_login {
  margin-top: 5rem;
}

.home_brush {
  position: absolute;
  z-index: 0;
  top: -3em;
  width: 70%;
}

.home_section {
  margin-top: 3rem;
}

.home_section_highlight {
  font-size: 4rem;
  font-family: 'Fusterd Brush Two', sans-serif;
}

.home_section_test {
  font-size: 2rem;
}

.home_hero_title {
  border-bottom: 0;
  font-weight: 100;
  margin-top: 0rem;
  letter-spacing: 2px;
  position: relative;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: inline-block;
  animation-name: floating;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-decoration: none;
}

.thumb {
  width: 100px;
  border: 5px solid #444;
  overflow: hidden;
  cursor: pointer;
}

@keyframes zoom {
  from {
    opacity: 0;
    transform: translateY(100%) scale(0);
  }
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 320px) {
  .home_login {
    margin-top: 5rem;
  }
  .home_brush {
    width: 100%;
  }
  .home_hero_title {
    margin-top: 4rem;
  }
}

@media (min-width: 480px) {
  .home_brush {
    width: 100%;
  }
  .home_hero_title {
    margin-top: 2rem;
  }
  .home_section_highlight {
    font-size: 5rem;
  }
}

@media (min-width: 760px) {
  .home_brush {
    width: 100%;
  }
  .home_hero_title {
    margin-top: -10rem;
  }
}

@keyframes floating {
  from {
    transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.15);
  }
  65% {
    transform: translate(0, 15px) rotateY(10deg) rotateX(10deg);
    text-shadow: -10px -10px 3px rgba(0, 0, 0, 0.15);
  }
  to {
    transform: translate(0, 0px) rotateY(-12deg);
    text-shadow: 10px 10px 3px rgba(0, 0, 0, 0.15);
  }
}

.hero_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signin {
  font-size: 2rem;
}
