.home {
  padding: 56px 20px;
  margin: 0 auto;
  min-height: 100%;
  width: auto;
  max-width: 300px;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  animation: slideDown 0.8s;
}

@keyframes slideDown {
  from { transform: translateY(-300%) };
  to { transform: translateY(0) };
}

.create {
  display: block;
  color: white;
  text-decoration: none;
  background-color: hsl(35, 100%, 55%);
  padding: 0.75rem;
  border-radius: 4px;
  margin: 25px;
  font-weight: 800;
  transition: transform 0.2s;
}

.create:hover {
  transform: scale(1.1);
  background-color: hsl(35, 95%, 60%);
}

.login {
  font-size: 14px;
  color: white;
  font-weight: bold;
  background: none;
  cursor: pointer;
  border: 1px solid white;
}
.login:hover {
  border: 1px dashed white;
}