{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "pragma": "h"
    }
  },
  "extends": [
    "eslint:recommended",
    "eslint-config-developit",
    "eslint-config-prettier"
  ],
  "rules": {
    "strict": ["error", "never"],
    "react/jsx-no-bind": "off",
    "react/jsx-indent-props": "off"
  },
  "ignorePatterns": ["functions/*"],

  "env": {
    "browser": true
  }
}
