.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  color: white;
  text-shadow: 0 5px 20px rgba(0, 0, 0, 0.468);
  font-size: 1.2rem;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  background-position: center center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('https://images.unsplash.com/photo-1519904981063-b0cf448d479e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80');
}

.form {
  width: 250px;
}

.label {
  margin-bottom: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: 4px;
  border-style: unset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.createButton {
  margin-top: 2rem;
  margin-bottom: 0;
  color: white;
  background-color: hsl(35, 100%, 55%);
  font-weight: 800;
  transition: transform 0.2s;
  cursor: pointer;
}

.createButton:hover {
  transform: scale(1.1);
  background-color: hsl(35, 95%, 60%);
}
