.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  color: white;
  text-shadow: 0 5px 20px rgba(0, 0, 0, 0.468);
  font-size: 1.4rem;
  animation: slideDown 0.6s;
  margin-top: 80px;
}

@keyframes slideDown {
  from {
    transform: translateY(-300%);
  }
  to {
    transform: translateY(0);
  }
}

.form {
  width: 250px;
}

.label {
  margin-bottom: 0.25rem;
}

.input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: 4px;
  border-style: unset;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.createButton {
  margin-top: 2rem;
  margin-bottom: 0;
  color: white;
  background-color: hsl(35, 100%, 55%);
  font-weight: 800;
  transition: transform 0.2s;
  cursor: pointer;
}

.createButton:hover {
  transform: scale(1.1);
  background-color: var(--primary);
}
.timePicker {
  display: flex;
  flex-direction: 'column';
}

.form__notify {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.form__notify label {
  padding: 1rem;
}
.form__notify label select {
  max-width: 30rem;
}

@media screen and (max-width: 520px) {
  .form__notify {
    flex-direction: column;
  }
}
