.card {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  padding: 1.2rem;
  border: 1px solid white;
  border-radius: 0.4rem;
  color: white;
  text-decoration: transparent;
  backdrop-filter: saturate(180%) blur(20px); /* apple blur style https://snack.expo.io/@bacon/blur-filters-next */
  overflow: hidden;
}
