.background {
  height: 100%;
  font-size: 1.2rem;
  overflow-y: scroll;
}

.root {
  margin: 85px 20px; /* headline */
  color: white;
}
.headline {
  display: block;
  width: 100%;
  margin-top: 0;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
@media screen and (max-width: 1200px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 960px) {
  .gridContainer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 520px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}
.item {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  text-decoration: transparent;
  backdrop-filter: blur(10px);
  overflow: hidden;
}
.item > div {
  margin-bottom: 6px;
}
.item:hover .time {
  transform: scale(1.4);
}
@keyframes fillBg {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}

.name {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
.time {
  display: flex;
  align-items: flex-end;
  align-self: center;
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.daysToGo {
  font-size: 5rem;
  font-weight: 800;
}
.duration {
  font-size: 1.4rem;
  font-weight: 400;
}
.start {
  margin-top: 16px;
  align-self: flex-end;
  font-size: 1.2rem;
}
.link {
  color: white;
  text-decoration: transparent;
}
.link:hover,
.link:focus {
}
