.background {
  height: 100%;
  margin: 0 auto;
  text-shadow: 0 5px 20px rgba(0, 0, 0, 0.468);
  font-size: 1.2rem;
}

.root {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  margin-top: 85px;
  border-radius: 6px;
}
.headline {
  margin-top: 0;
}
.item {
  font-size: 16px;
  padding: 8px 0;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.name {
  margin-right: 40px;
  min-width: 150px;
}
.duration {
  margin-right: 40px;
  min-width: 30px;
}
.start {
  margin-right: 40px;
  min-width: 70px;
}
.togo {
  margin-right: 40px;
  min-width: 30px;
  font-weight: bold;
}
.link {
  color: rgb(77, 15, 176);
  text-decoration: transparent;
}
.link:hover,
.link:focus {
  color: rgb(54, 0, 72);
}
