.background {
  height: 100%;
  margin: 0 auto;
  font-size: 1.2rem;
  overflow-y: scroll;
}

.root {
  margin: 85px 20px; /* headline */
  color: white;
}
.headline {
  display: block;
  width: 100%;
  margin-top: 0;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  text-decoration: transparent;
  backdrop-filter: blur(10px);
  overflow: hidden;
  background: linear-gradient(to right, rgba(255,255,255, 0.6) 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background 0.18s ease-in-out;
}
.item > div {
  margin-bottom: 6px;
}
.item:hover {
  background-position: left bottom;
}
@keyframes fillBg {
  from { background-position-x: 0% };
  to { background-position-x: 100% };
}

.name {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}
.time {
  display: flex;
  align-items: flex-end;
  align-self: center;
}
.daysToGo {
  font-size: 3rem;
  font-weight: 800;
}
.duration {
  font-size: 0.85rem;
  font-weight: 400;
}
.start {
  margin-top: 16px;
  align-self: flex-end;
  font-size: 0.7rem;
}
.link {
  color: white;
  text-decoration: transparent;
}
.link:hover,
.link:focus {
}
