.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 0;
  z-index: 50;
  color: white;
  color: rgb(156, 205, 0);
  transform: skew(0deg, -8deg);
  text-shadow: rgb(156, 205, 0) -1px -1px 250px, rgb(156, 205, 0) 1px 1px 50px,
    rgb(156, 205, 0) -1px -1px 50px, rgb(156, 205, 0) 1px 1px 50px;
}

.footer a {
  color: hotpink;
}
